<!--main content start-->
<form class="form-horizontal" action="/control/create-new-workout-plan.php" method="post">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading text-center">
                            New Workout Plan
                        </header>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Plan's name</label>
                                <div class="col-sm-10">
                                    <input type="text" name="plans-name" class="form-control"
                                           placeholder="Enter the plan's name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Plan's description</label>
                                <div class="col-sm-10">
                                    <textarea name="plans-desc" class="form-control"
                                              placeholder="(OPTIONAL) Enter the plan's description"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Plan's difficulty</label>
                                <div class="col-sm-3">
                                    <select name="plans-diff" required="required" class="form-control">
                                        <option value="1">Beginner</option>
                                        <option value="2">Intermediate</option>
                                        <option value="3">Expert</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="dayOfExercise">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading text-center">
                                Monday
                            </header>
                            <div class="addedExercises">
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <label class="col-sm-2 control-label">Select one exercise</label>
                                        <div class="col-sm-3">
                                            <select class="form-control" id="exercises"
                                                    required="required">

                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="button" class="btn btn-primary addExerciseBtn">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary addNewDayOfExercise" title="Add new day of workout">
                        <span class="icon_plus_alt2"></span> Add new day of exercise
                    </button>
                    <button type="submit" class="btn btn-primary" title="Save new workout plan"><span
                            class="icon_check"></span> Save
                    </button>
                </div>
            </div>
            <!-- page end-->
        </section>
    </section>
</form>

<!--main content end-->
</section>
<!-- container section end -->
<!-- javascripts -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- nice scroll -->
<script src="/js/jquery.scrollTo.min.js"></script>
<script src="/js/jquery.nicescroll.js" type="text/javascript"></script>

<!-- custome script for all page -->
<script src="/js/scripts.js"></script>
<script src="/control/js/exercises-list.js"></script>


</body>

</html>
