<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_document_alt"></i>
                    <span>Workout Plan</span>
                    <span class="menu-arrow arrow_carrot-2down"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="/new-workout-plan.php">New Workout Plan</a></li>
                    <li><a class="" href="form_component.html">List Workout Plans</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon_group"></i>
                    <span>User</span>
                    <span class="menu-arrow arrow_carrot-2down"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="/new-user.php">New User</a></li>
                    <li><a class="" href="grids.html">List Users</a></li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>