<!--main content start-->
<form class="form-horizontal" action="/control/update-user.php" method="post">
    <section id="main-content">
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-11">
                    <section class="panel">
                        <header class="panel-heading">
                            Update User
                        </header>
                        <div id="fillInfo"></div>
                    </section>

                    <button type="submit" class="btn btn-primary" title="Update user"><span
                            class="icon_check_alt2"></span> Update user
                    </button>
                </div>
            </div>
            <!-- page end-->
        </section>
    </section>
</form>

<!--main content end-->
</section>
<!-- container section end -->
<!-- javascripts -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- nice scroll -->
<script src="/js/jquery.scrollTo.min.js"></script>
<script src="/js/jquery.nicescroll.js" type="text/javascript"></script>

<!-- custome script for all page -->
<script src="/js/scripts.js"></script>
<script src="/control/js/update-user.js"></script>


</body>

</html>
